body{
	font-family: arial;
	width: 90%;
	margin: auto;
	margin-top: 10px;
}

.SiteTitle{
	width: 100%;
	padding: 10px;
	font-size: 30px;
	text-align: center;
}

.HeadingArea{
	background-color: grey;
	width: 100%;
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

.Navigation, a{
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.heading{
	font-size: 25px;

}

.textContent{
	font-size: 18px;
}